/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
  background-color:#FFFFFF;
  background-image:url('img/bg2.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-color: #0088B5;
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
.main-container {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  min-height: 600px;
}
.content{
	background-color:rgba(255,255,255,0.5);
	min-height: 400px;
	margin:30px;
	border-radius: 20px;
}	
div.col-md-6.content{
	/*padding-right: 0px;
	padding-left: 0px;
	*/padding-bottom: 15px;
}

div.col-md-6.title-block {
  text-align: center;
  background: rgba(255,255,255,0.5);
  margin-left: 30px;
  border-radius: 10px;
}
.title-block h1 {
  margin-bottom:20px;
}
.title-block h1 a {
  color: #ffffff;
}

.nav-tabs>li>a {
	color: color: #0e2d59;
}

/* team detail page */

label.label.label-primary.score {
  float: right;
}

.team-detail-top {
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 10px;
}

nav a.router-link-active {
  background-color: #ffffff;
}

.add-team {
  margin-top: 15px;
}

/* 
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */